@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;500&display=swap');

:root {
  --soft-white: #FBFCFB;
  --grey: #A5A4A4;
  --sage: #9CBA9A;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Navbar*/
.logo {
  width: 10.25rem;
  margin-left: 2rem;
}

.navbar {
  background-color: var(--soft-white);
}

/* Nav Links */
.navbar-nav {
  cursor: pointer;
}

.navbar-nav a {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  margin: .5rem;
}

.navbar-nav a:hover {
  color: var(--sage);
}

/* Header */

.header-wrapper {
  background-color: var(--sage);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;
}
